[Desktop Entry]
Version=1.0
Name=GtkFileSplitter
GenericName=File Splitter and Joiner
GenericName[es]=Trozar y Unir Archivos
GenericName[pl]=Łączenie i dzielenie plików
Comment=Simple File Splitter and Joiner for the desktop
Comment[es]=Aplicación sencilla para trozar y unir archivos
Comment[pl]=Prosty program do dzielenia i łączenia plików
Encoding=UTF-8
TryExec=gtkfilesplitter
Exec=gtkfilesplitter
Icon=/usr/share/gtkfilesplitter/gtkfilesplitter.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;



